<div class="well-small dict brief" style="width: 100%, margin-top: 2px;">

<span class="source">{{ result.source | raw }}</span>
<span class="translate">{{ result.translate | raw }}</span>
<span class="description">{{ result.description | raw }}</span>

</div>