{% extends "ItfrogsSiteBundle::layout.html.twig" %}


    {% block title "Главная" %}

        {% block content_header 'Главная' %}

            {% block header %}

            {% endblock %}

            {% block content %}

                <h3>
                    Ваши данные успешно добавлены. Они должны пройти модерацию прежде, чем будут активированы.
                </h3>

                <div id="saying_back">
                    <a href="{{ path('itfrogs_site_default') }}">Вернуться на главную</a>
                </div>

            {% endblock %}

            {% block footer %}

            {% endblock %}